{% extends "base.html" %}

{% block content %}
<!-- <div class="jumbotron">
	{% for post in posts %}
	{% if post.date_posted %}
	<a href="{% url 'description' post.id%}"><h2>{{post.name}}</h2></a>
	<h6>{{post.date_posted}}</h6>
	<b>Comments:{{post.count_comments.count}}</b>
	{%else%}
	{%endif%}
	{% endfor %}
</div> -->
<div class="row">
{% for post in posts %}
{% if post.date_posted %}
    	<div class="col-md-6 mt-3">
    		<div class="card card-body">
    			<h5 class="card-title">Card title</h5>
			    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			    <a href="#" class="card-link">Card link</a>
			    <a href="#" class="card-link">Another link</a>
    		</div>
    	</div>
{%else%}
{%endif%}
{% endfor %}
</div>
{% endblock %}